body {
     margin: 10px;
     background-color: #000; /* Set the background color of the body to black */
     font-family: Georgia, 'Times New Roman', Times, serif;
     
 }
 
 main {
     margin-left: 10px;
     margin-right: 10px;
     background-color: rgba(255, 255, 255, 0.623);
     border-radius: 20px;
 }

div{
     text-align: center;
     padding-block: 5px;
     margin: 3%;
     text-align: center;
     margin-bottom: 100px;
     
}
div h3{
     color: black;
     text-align: center;
}
div button{
     display:inline-block;
     justify-content: center;
     align-items: center;
     height: 30px;
     border:#131313;
     border-radius: 20px;
     font-size: 15px;
     font-family:'-apple system-';
     background-image:linear-gradient(rgb(201, 84, 84),rgb(221, 240, 49));
}
div button:hover{
     background-image: linear-gradient(rgb(221, 240, 49),rgb(201, 84, 84));
     font-weight: bold;
     cursor: pointer;
     font-style: oblique;
}
/*Pop-up section after pressing 'Show Tutorial' */
.Tutorial {
     position: fixed;
     width: 780px;
     top: -35px;
     left: 275px;
     background-image: linear-gradient(#22c1c3,#fdbb2d);
     border-radius: 20px;
     z-index: 2400;
     padding:10px;
     display: none;
     color: white; /* Set the font color to white */
}
.Tutorial li{
     text-align: left;
}
.Tutorial header{
     font-weight: bold;
     font-size: 25px;
}
.Tutorial::after{
     content: "";
     display: table;
     clear: both;
}
/*Items inside Tutorial */
.tots {
     resize: none;
     float:none;
     margin: 0px;
     max-width: 100%;
     word-wrap: break-word;
     margin-left: -20px;
     margin-top: -20px;
     }
     .tots button{
     position: absolute;
     bottom: 0px;
     }
     .tots header{
     text-align: center;
     font-family:'Courier New', Courier, monospace;
     font-weight: bold;
     }
     .tots p{
     width: 100%;
     margin: 0px;
     text-align: center;
     }
     .tots video{
          max-width:460px ;
          max-height:560px ;
     }
.header{
     text-align: center;
     
}
/*Navigation Bar*/
.navbar {
     background: #131313;
     height: 80px;
     display: flex;
     justify-content: center;
     align-items: center;
     font-size: 1.2rem;
     position: sticky;
     top: 0;
     z-index: 999;
   }
 
   .navbar__container {
     display: flex;
     justify-content: space-between;
     height: 80px;
     z-index: 1;
     width: 100%;
     max-width: 1300px;
     margin-right: auto;
     margin-left: auto;
     padding-right: 50px;
     padding-left: 50px;
     
   }
 
   #navbar__logo {
     background-color: #ff8177;
     background-image: linear-gradient(to top, #ff0844 0%, #ffb199 100%);
     background-size: 100%;
     -webkit-background-clip: text;
     -moz-background-clip: text;
     -webkit-text-fill-color: transparent;
     -moz-text-fill-color: transparent;
     display: flex;
     align-items: center;
     cursor: pointer;
     text-decoration: none;
     font-size: 2rem;
     margin-top: 55px;
   }
 
   .navbar__menu {
     display: flex;
     align-items: center;
     list-style: none;
     text-align: center;
   }
 
   .navbar__item {
     margin-top: 55px;
     height: 80px;
   }
 
   .navbar__links {
     color: #fff;
     display: flex;
     align-items: center;
     justify-content: center;
     text-decoration: none;
     padding: 0 1rem;
     height: 100%;
   }
   .navbar__links:hover {
     color: #f77062;
     transition: all 0.3s ease;
   }
   /*Home section*/
.rows{
     padding-top: 55px;
     position: relative;
     margin-bottom: -150px;
}
.columns{
     float: none;
     width: 1230px;
     border-radius: 20px;
     border-style: dotted;
     background-image: linear-gradient(to top, gray,white);
     padding: 10px;
     }
     .columns h1{
          font-family: monospace;
          font-weight: bold;
          font-size: 35px;
          
     }
     .columns p{
          font-family: cursive;
          text-indent: 50px;
          font-size: 25px;
          text-align: left;
     }
     
/*Container for each command */
.column{
     float: left;
     width:33.33%;
     background-image:linear-gradient(rgb(221, 240, 49),rgb(201, 84, 84));
     border-radius: 20px;
     border-style:double;
     border-width: 5px;
     border-color:#fdbb2d;
     max-width: 400px;
     word-wrap: break-word;
     text-indent: 20px;
     margin-right: -25px;
}
.column p{
     margin: 10px;
     text-align: left;
}
.columnright{
     float:inline-end;
     width: 23.33%
}
.row{
     padding-top: 75px;
}
.row:after{
     position:relative;
     content:"";
     display: table;
     clear:both;   
}
/*Footer*/
footer{
     background-color: silver;
     margin: 0px;
     padding: 10px;
     
}