body {
     margin: 10px;
      /* Set the background color of the body to black */
     font-family: Georgia, 'Times New Roman', Times, serif;
     background-color: #D9AFD9;
     background-image: linear-gradient(0deg, #D9AFD9 0%, #97D9E1 100%);


 }
 
 main {
     margin-left: 10px;
     margin-right: 10px;
     background-color: rgba(255, 255, 255, 0.623);
     border-radius: 20px;
 }

 
 .main {
     background-color: black;
     background-image: black;
     padding-top: 80px;
     border-radius: 20px;
   }
   
   
   
   .main__content {
     color: #fff;
     
    width: 100%;
     text-align: left;
     
   }
   
   .main__content h1 {
     font-size: 4rem;
     background-color: #ff8177;
     background-image: linear-gradient(to top, #ff0844 0%, #ffb199 100%);
     background-size: 100%;
     -webkit-background-clip: text;
     -moz-background-clip: text;
     -webkit-text-fill-color: transparent;
     -moz-text-fill-color: transparent;
     margin-bottom: 20px; /* Adjust spacing */
   }
   
   .main__content h2 {
     font-size: 4rem;
    margin-top: 10px;
    background-color: #ff8177;
    background-image: linear-gradient(-20deg, #b721ff 0%, #21d4fd 100%);
    background-size: 100%;
    -webkit-background-clip: text;
    -moz-background-clip: text;
    -webkit-text-fill-color: transparent;
    -moz-text-fill-color: transparent;
   }
   
   .main__content p {
     margin-top: 1rem;
     font-size: 2rem;
     font-weight: 700; /* Adjust spacing */
   }
   
   
   .main__img--container {
     text-align: center;
     color: #fff;
   }
   
   #main__img {
     height: auto;
     width: 80%; /* Adjust width as needed */
     max-width: 600px; /* Adjust max-width as needed */
     margin: 0 auto; /* Center the image horizontally */
   }

div{
     text-align: center;
     padding-block: 5px;
     margin: 3%;
     text-align: center;
     margin-bottom: 100px;
     
}
div h3{
     color: black;
     text-align: center;
}
div button{
     display:inline-block;
     justify-content: center;
     align-items: center;
     height: 30px;
     border:#131313;
     border-radius: 20px;
     font-size: 15px;
     font-family:'-apple system-';
     background-color: #D9AFD9;
     background-image: linear-gradient(45deg, #D9AFD9 0%, #3ad3dc 100%);
}
div button:hover{
     background-color: #D9AFD9;
background-image: linear-gradient(225deg, #D9AFD9 0%, #3ad3dc 100%);
     font-weight: bold;
     cursor: pointer;
     font-style: oblique;
}
/*Pop-up section after pressing 'Show Tutorial' */
.Tutorial {
     position: fixed;
     width: 780px;
     top: -35px;
     left: 275px;
     background-color: #D9AFD9;
     background-image: linear-gradient(45deg, #D9AFD9 0%, #3ad3dc 100%);
     border-radius: 20px;
     z-index: 2400;
     padding:10px;
     display: none;
     color: black; /* Set the font color to white */
}
.Tutorial li{
     text-align: left;
}
.Tutorial header{
     font-weight: bold;
     font-size: 25px;
}
.Tutorial::after{
     content: "";
     display: table;
     clear: both;
}
/*Items inside Tutorial */
.tots {
     resize: none;
     float:none;
     margin: 0px;
     max-width: 100%;
     word-wrap: break-word;
     margin-left: -20px;
     margin-top: -20px;
     }
     .tots button{
     position: absolute;
     bottom: 0px;
     }
     .tots header{
     text-align: center;
     font-family:'Courier New', Courier, monospace;
     font-weight: bold;
     }
     .tots p{
     width: 100%;
     margin: 0px;
     text-align: center;
     }
     .tots video{
          max-width:460px ;
          max-height:560px ;
     }
.header{
     text-align: center;
     
}
/*Navigation Bar*/
.navbar {
     background-color: black;
     height: 80px;
     display: flex;
     justify-content: center;
     align-items: center;
     font-size: 1.2rem;
     position: sticky;
     top: 0;
     z-index: 999;
     border-radius: 20px;
   }
 
   .navbar__container {
     display: flex;
     justify-content: space-between;
     height: 80px;
     z-index: 1;
     width: 100%;
     max-width: 1300px;
     margin-right: auto;
     margin-left: auto;
     padding-right: 50px;
     padding-left: 50px;
     
   }
 
   #navbar__logo {
     background-color: #ff8177;
     background-image: linear-gradient(to top, #ff0844 0%, #ffb199 100%);
     background-size: 100%;
     -webkit-background-clip: text;
     -moz-background-clip: text;
     -webkit-text-fill-color: transparent;
     -moz-text-fill-color: transparent;
     display: flex;
     align-items: center;
     cursor: pointer;
     text-decoration: none;
     font-size: 2rem;
     margin-top: 55px;
   }
 
   .navbar__menu {
     display: flex;
     align-items: center;
     list-style: none;
     text-align: center;
   }
 
   .navbar__item {
     margin-top: 55px;
     height: 80px;
   }
 
   .navbar__links {
     color: #fff;
     display: flex;
     align-items: center;
     justify-content: center;
     text-decoration: none;
     padding: 0 1rem;
     height: 100%;
   }
   .navbar__links:hover {
     color: #f77062;
     transition: all 0.3s ease;
   }
   /*Home section*/
.rows{
     padding-top: 55px;
     position: relative;
     margin-bottom: -150px;
}
.columns{
     float: none;
     width: 1230px;
     border-radius: 20px;
     border-style: dotted;
     background-color: #D9AFD9;
     background-image: linear-gradient(45deg, #D9AFD9 0%, #3ad3dc 100%);
     padding: 10px;
     
     }
     .columns h1{
          font-family: monospace;
          font-weight: bold;
          font-size: 35px;
          
     }
     .columns p{
          font-family: cursive;
          text-indent: 50px;
          font-size: 25px;
          text-align: left;
     }
     
/*Container for each command */
.column{
     float: left;
     width:33.33%;
     
     background-color: #D9AFD9;
background-image: linear-gradient(45deg, #D9AFD9 0%, #3ad3dc 100%);


     border-radius: 20px;
     border-style:double;
     border-width: 5px;
     border-color:#3ad3dc;
     max-width: 400px;
     word-wrap: break-word;
     text-indent: 20px;
     margin-right: -25px;
}
.column p{
     margin: 10px;
     text-align: left;
}
.columnright{
     float:inline-end;
     width: 23.33%
}
.row{
     padding-top: 75px;
}
.row:after{
     position:relative;
     content:"";
     display: table;
     clear:both;   
}
/*Footer*/
.footer{
     background-color: lightblue;
     margin: 0px;
     padding: 10px;
     font-family: monospace;
     border-radius: 20px;
     color: black;
}
.footer header{
     font-size: 35px;
}
.footer h1{
     font-size: 45px;
}
.footermain{
     margin-top: 0px;
     margin-bottom: 0px;
     float: left;
     width: 10%;
}

.footerdiv{
     align-items: center;
     float: left;
     width: 13.33%;
     background-color: #D9AFD9;
     background-image: linear-gradient(45deg, #D9AFD9 0%, #3ad3dc 100%);
     padding: 15px;
     border-radius: 20px;
     margin-bottom: 10px;
     margin-top: -100px;
}
.footer img{
     border-radius: 20px;
     width: 150px;
     border-style: groove;
     border-color: #f77062;
}
